body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0 6% 2px;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:first-child {
  margin-right: 0px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 91px;
}

.site-navigation li:nth-child(3) {
  margin-left: 0px;
  text-align: right;
}

.site-navigation li:last-child {
  margin-left: 5px;
  text-align: right;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover {
  color: #604e43;
}

.site-navigation-current a:active {
  color: #d6d0cc;
}

.header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
}

.main-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.main-title-caption {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 350px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-title-text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.feature-container {
  display: flex;
  margin: 0;
}

.feature-item {
  width: 400px;
  height: 256px;
  padding: 30px 30px;
  margin-right: 0;
  box-sizing: border-box;
}

.feature-header {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  padding: 0 90px;
}

.feature-number {
  margin-bottom: 21px;
}

.feature-text {
  padding: 0 30px;
}

.blue-back:nth-of-type(2) .feature-text {
  padding: 0 10px;
}

.feature-number,
.feature-text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.feature-image {
  line-height: 0;
}

.blue-back {
  background-color: #81b3d2;
}

.gray-back {
  background-color: #eeeeee;
}

.gray-back * {
  color: black;
}

.advice-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-item {
  position: relative;
  width: 400px;
  height: 330px;
  text-align: center;
  padding-top: 161px;
  box-sizing: border-box;
}

.advice {
  margin: 0;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advice-text {
  padding: 0 50px;
}

.advice-house::before {
  content: "";
  position: absolute;
  left: calc(50% - 38px);
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advice-food::before {
  content: "";
  position: absolute;
  left: calc(50% - 37px);
  top: 60px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advice-souvenirs::before {
  content: "";
  position: absolute;
  left: calc(50% - 32px);
  top: 57px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.appointment {
  background-color: #ffffff;
  padding-top: 31px;
  height: 291px;
  box-sizing: border-box;
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
}

.appointment-info {
  line-height: 24px;
  margin-bottom: 47px;
}

.search-form-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 auto;
  z-index: 10;
}

.search-open-button {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 85px;
  font-size: 21px;
  line-height: 85px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
}

.search-form {
  position: absolute;
  left: calc(50% - 284px);
  top: 0;
  width: 568px;
  margin: 0 auto;
  padding: 54px 55px 56px 55px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  background: #ffffff;
  box-sizing: border-box;
}

.search-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  width: 460px;
}

.search-label {
  display: inline-block;
  line-height: 40px;
  height: 40px;
}

.search-line input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 40px;
}

.search-column {
  display: flex;
}

.adults-input-container, .children-input-container {
  display: flex;
  width: 115px;
  height: 40px;
  margin-left: 41px;
  border: none;
}

.children-input-container {
  margin-left: 23px;
}

.minus-button, .plus-button {
  display: block;
  position: relative;
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
}

.minus-button::before, .plus-button::before {
  position: absolute;
  background-color: #a9a9a9;
  width: 11px;
  height: 3px;
  top: 19px;
  left: 14px;
  content:"";
}

.plus-button::after {
  position: absolute;
  background-color: #a9a9a9;
  width: 3px;
  height: 11px;
  top: 15px;
  left: 18px;
  content:"";
}

.minus-button:focus, .plus-button:focus {
  outline: none;
}

.minus-button:hover::before,
.plus-button:hover::before,
.plus-button:hover::after {
  background-color: black;
}

.minus-button:active::before,
.plus-button:active::before,
.plus-button:active::after {
  background-color: #81b3d2;
}

.search-field-number {
  text-align: center;
}

.search-line input:hover {
  background-color: #ebebeb;
}

.search-line input:focus {
  background-color: #ffffff;
}

.search-column input {
  width: 35px;
  padding: 0;
  margin: 0;
}

.calendar-input {
  position: relative;
}

.calendar {
  position: absolute;
  display: block;
  content: "";
  right: 12px;
  top: 8px;
  width: 22px;
  height: 23px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin: 0;
}

.calendar:focus {
  outline: none;
}

.calendar:hover {
  background-image: url("../img/calendar-hover.svg");
}

.calendar:active {
  background-image: url("../img/calendar-active.svg");
}

.search-field {
  line-height: 26px;
  padding: 4px 15px 8px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.search-field:hover {
  background-color: #ebebeb;
}

.search-field:focus {
  background-color: #ffffff;
}

.search-form .calendar {
  color: #c2c2c2;
}

.search-form .calendar:hover {
  color: #000000;
}

.search-form .calendar:active {
  color: #81b3d2;
}

.find-button {
  display: block;
  width: 458px;
  margin: 0 auto;
  margin-top: 52px;
  padding: 16px 10px 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.inner-page {
  /*background-color: grey;*/
}

.search-columns {
  display: flex;
  justify-content: space-between;
}

.filter-input-checkbox,
.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  border: #ffffff;
}

.filter-input-checkbox:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.filters {
  background-image: url("../img/background-photo-filtered.jpg");
  background-position: 0 -55px;
  height: 217px;
  padding: 0 6%;
}

.filter-form {
  display: flex;
  padding-top: 27px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
}

.filter {
  border: none;
  padding: 0;
}

.filter:first-child {
  width: 240px;
}

.filter:nth-child(2) {
  padding-left: 14px;
  width: 300px;
}

.filter:nth-child(3) {
  margin-left: auto;
  width: 320px;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 12px 0px;
  padding: 0;
}

.filter:nth-child(3) legend {
  padding-left: 3px;
}

.filter legend + ul {
  list-style: none;
}

.filter-option {
  color: #ffffff;
  margin-bottom: 24px;
  position: relative;
}

.filter-input-checkbox + label::before {
  position: absolute;
  display: block;
  content: "";
  left: -41px;
  top: -2px;
  height: 23px;
  transform: scale(0.9);
}

.filter-input-checkbox:not(:checked):not(:disabled) + label::before {
  width: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:not(:checked):disabled + label::before {
  width: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:not(:disabled) + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: black;
  background-color: white;
}

.filter-button:active {
    outline: none;
}

.filter-range {
  width: 318px;
  margin: 0 auto;
  margin-top: -2px;

  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;

  box-sizing: border-box;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 31px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.hotel-search-results {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.hotel-search-list {
  display: flex;
  width: 520px;
  height: 86px;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-search-list li {
  display: block;
  height: 26px;
}

.hotel-search-found-caption {
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.hotel-search-sorting-header {
  margin-left: 16px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}

.hotel-search-sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  width: 88px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #81b3d2;
}

.hotel-search-sorting-active,
.hotel-search-sorting:hover {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #81b3d2;
}

.hotel-search-sorting:hover {
 /*  точечки подчеркивания */
}

.hotel-search-sorting:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: black;
}

.sorting-direction-buttons {
  display: flex;
}

.sorting-direction {
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
}

.sorting-direction-ascending {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-direction-descending {
  background-image: url("../img/icon-down-dir.svg");
  margin-left: 10px;
}

.sorting-direction-active.sorting-direction-ascending {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-direction-active.sorting-direction-descending {
  background-image: url("../img/icon-down-dir-active.svg");
}

.sorting-direction-ascending:hover {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.sorting-direction-descending:hover {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.sorting-direction-ascending:active {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-direction-descending:active {
  background-image: url("../img/icon-down-dir-active.svg");
}

.hotel {
  display: flex;
  align-items: flex-start;
  padding: 25px 6% 24px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.hotel-picture {
  width: 135px;
  padding-top: 5px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  width: 370px;
}

.hotel-rating {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 140px;
  padding-top: 5px;
  margin-left: auto;
}

.hotel-rating-stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
}

.rating-stars-4 {
  width: calc(24px * 4 - 6px);
}

.rating-stars-3 {
  width: calc(24px * 3 - 6px);
}

.rating-stars-2 {
  width: calc(24px * 2 - 6px);
}

.hotel-rating-result {
  display: block;
  padding: 3px 12px;
  background-color: #f2f2f2;
}

.hotel-name {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 565px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type-and-price {
  display: flex;
  margin-bottom: 13px;
}

.hotel-type-and-price p {
  margin: 0;
  padding: 0;
}

.hotel-type {
  display: block;
  width: 110px;
  height: 21px;
  margin-right: 6px;
}

.hotel-price {
  display: block;
  width: 140px;
  height: 21px;
}

.hotel-buttons {
  display: flex;
}

.button-reading-more {
  display: block;
  width: 110px;
  height: 27px;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
  text-align: center;
  line-height: 27px;
  margin-right: 6px;
}

.button-reading-more:hover,
.button-reading-more:focus {
  background-color: #669ec0;
}

.button-reading-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  display: block;
  width: 140px;
  height: 27px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
  text-align: center;
  line-height: 27px;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-rating-stars {
  display: block;
  text-align: top;
}

.hotel-rating-result {
  display: block;
  text-align: bottom;
}

.map-cropper {
  position: relative;
  width: 100%;
  height: 473px;
  overflow: hidden;
}

.map-cropper img {
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  margin-top: 0;
  padding: 0;
  background-color: #ffffff;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-contacts, .footer-social, .footer-copyright {
  width: 33%;
  display: flex;
  justify-content: center;
}

.footer-contacts {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 2px;
}

.footer-contacts a {
  color: #000000;
  text-decoration: none;
}

.footer-social {
  padding-left: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  /* margin: 0px auto; не работает в IE11 */
  padding: 0;
  list-style: none;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active path {
  fill: #88b6d1;
}


.footer-copyright {
  margin: 0;
  padding-left: 7px;
  padding-bottom: 1px;
}

.footer-copyright-inner {
  display: flex;
  align-items: center;
  width: 200px;
  position: relative;
}

.footer-copyright span {
  position: relative;
  display: block;
}

.footer-copyright a {
  display: block;
  width: 120px;
  height: 37px;
  margin-right: 0;
}

.footer-copyright a::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 85px;
  width: 108px;
  height: 37px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: scale(1.05);
}

.footer-copyright a:hover::after {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active::after {
  background-image: url("../img/logo-htmlacademy-active.svg");
}

