body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0 6% 2px;
  list-style: none;
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover {
  color: #604e43;
}

.site-navigation-current a:active {
  color: #d6d0cc;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:first-child {
  margin-right: 0px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 91px;
}

.site-navigation li:nth-child(3) {
  margin-left: 0px;
  text-align: right;
}

.site-navigation li:last-child {
  margin-left: 5px;
  text-align: right;
}

.header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.main-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.main-title-caption,
.main-title-text {
  margin: 0;
  line-height: 26px;
  text-align: center;
}

.main-title-caption {
  margin-bottom: 27px;
  padding: 0 350px;
  font-size: 21px;
  font-weight: bold;
}

.features {
  z-index: 4;
}

.feature-container {
  display: flex;
  margin: 0;
}

.feature-item {
  width: 400px;
  height: 256px;
  padding: 30px 30px;
  margin-right: 0;
  box-sizing: border-box;
}

.feature-header {
  font-size: 21px;
  color: white;
  text-align: center;
  margin-bottom: 24px;
  padding: 0 90px;
}

.feature-number {
  margin-bottom: 21px;
}

.feature-text {
  padding: 0 27px;
}

.blue-back:nth-of-type(2) .feature-text {
  padding: 0 10px;
}

.feature-number,
.feature-text {
  color: white;
  text-align: center;
}

.feature-image {
  line-height: 0;
}

.blue-back {
  background-color: #81b3d2;
}

.gray-back {
  background-color: #eeeeee;
}

.gray-back * {
  color: black;
}

.advice-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-item {
  position: relative;
  width: 400px;
  text-align: center;
  padding-top: 161px;
  padding-bottom: 68px;
  box-sizing: border-box;
}

.advice {
  margin: 0;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: bold;
}

.advice-text {
  padding: 0 50px;
}

.advice-house::before {
  content: "";
  position: absolute;
  left: calc(50% - 38px);
  top: 60px;
  width: 75px;
  height: 72px;
  background: url("../img/icon-house.svg") 0 0 no-repeat;
}

.advice-food::before {
  content: "";
  position: absolute;
  left: calc(50% - 37px);
  top: 60px;
  width: 74px;
  height: 70px;
  background: url("../img/icon-food.svg") 0 0 no-repeat;
}

.advice-souvenirs::before {
  content: "";
  position: absolute;
  left: calc(50% - 32px);
  top: 57px;
  width: 64px;
  height: 76px;
  background: url("../img/icon-souvenirs.svg") 0 0 no-repeat;
}

.appointment {
  background-color: white;
  padding-top: 31px;
  box-sizing: border-box;
  text-align: center;
}

.appointment-title {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
}

.appointment-info {
  line-height: 24px;
  margin-bottom: 47px;
}

.search-form-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 auto;
  z-index: 3;
}

.search-open-button {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 85px;
  font-weight: bold;
  color: white;
  background-color: #766357;
  text-align: center;
}

.search-form-wrapper-for-animation {
  display: block;
  position: absolute;
  left: calc(50% - 284px);
  top: 0px;
  padding: 0;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  overflow-y: hidden;
}

.search-form {
  position: absolute;
  left: calc(50% - 284px);
  top: 0px;
  width: 568px;
  margin: 0 auto;
  padding: 54px 55px 56px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@keyframes bounce {
  0% {
    transform: translateY(-396px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.search-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  width: 460px;
}

.search-label {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
}

.search-line input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 40px;
}

.search-column {
  display: flex;
}

.adults-input-container,
.children-input-container {
  display: flex;
  width: 115px;
  height: 40px;
  margin-left: 41px;
  border: none;
}

.children-input-container {
  margin-left: 26px;
}

.minus-button,
.plus-button {
  display: block;
  position: relative;
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.minus-button::before,
.plus-button::before {
  position: absolute;
  background-color: #a9a9a9;
  width: 11px;
  height: 3px;
  top: 19px;
  left: 14px;
  content: "";
}

.plus-button::after {
  position: absolute;
  background-color: #a9a9a9;
  width: 3px;
  height: 11px;
  top: 15px;
  left: 18px;
  content: "";
}

.minus-button:hover::before,
.plus-button:hover::before,
.plus-button:hover::after {
  background-color: black;
}

.minus-button:active::before,
.plus-button:active::before,
.plus-button:active::after {
  background-color: #81b3d2;
}

.search-field-number {
  text-align: center;
}

.search-line input:hover {
  background-color: #ebebeb;
}

.search-line input:focus {
  background-color: white;
}

.search-column input {
  width: 35px;
  padding: 0;
  margin: 0;
}

.calendar-input {
  position: relative;
}

.calendar {
  position: absolute;
  display: block;
  font-size: 0;
  right: 12px;
  top: 8px;
  width: 22px;
  height: 23px;
  background: url("../img/calendar.svg") no-repeat;
  border: none;
  padding: 0;
  margin: 0;
}

.calendar:hover {
  background-image: url("../img/calendar-hover.svg");
}

.calendar:active {
  background-image: url("../img/calendar-active.svg");
}

.search-field {
  line-height: 26px;
  padding: 4px 10px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.search-field:hover {
  background-color: #ebebeb;
}

.search-field:focus {
  background-color: white;
}

.find-button {
  display: block;
  width: 458px;
  margin: 52px auto 0;
  padding: 16px 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-columns {
  display: flex;
  justify-content: space-between;
}

.filter-input-checkbox,
.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  border: white;
}

.filter-input-checkbox:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.filters {
  background: url("../img/background-photo-filtered.jpg") 0 -55px no-repeat;
  padding: 0 6% 8px;
}

.filter-form {
  display: flex;
  padding-top: 27px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
}

.filter {
  border: none;
  padding: 0;
}

.filter:first-child {
  width: 240px;
}

.filter:nth-child(2) {
  padding-left: 14px;
  width: 300px;
}

.filter:nth-child(3) {
  margin-left: auto;
  width: 320px;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0 0 12px;
  padding: 0;
}

.filter:nth-child(3) legend {
  padding-left: 3px;
}

.filter legend + ul {
  list-style: none;
}

.filter-option {
  position: relative;
  margin-bottom: 24px;
  color: white;
}

.filter-input-checkbox + label::before {
  position: absolute;
  display: block;
  content: "";
  left: -41px;
  top: -2px;
  height: 23px;
  transform: scale(0.9);
}

.filter-input-checkbox:not(:checked):not(:disabled) + label::before {
  width: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:not(:checked):disabled + label::before {
  width: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:not(:disabled) + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-input-checkbox:focus + label::before {
  outline: 2px solid #a5c7fe;
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 30px;

  line-height: 20px;
  color: white;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: black;
  background-color: white;
}

.filter-button:active {
  outline: none;
}

.filter-range {
  width: 318px;
  margin: 0 auto;
  margin-top: -2px;
  color: white;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: white;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 31px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: white;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.hotel-search-results {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.hotel-search-list {
  display: flex;
  width: 520px;
  height: 86px;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-search-list li {
  display: block;
  height: 26px;
}

.hotel-search-found-caption {
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.hotel-search-sorting-header {
  margin-left: 16px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.hotel-search-sorting {
  font-size: 12px;
  line-height: 18px;
  width: 88px;
  color: rgba(0, 0, 0, 0.3);

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 50%, transparent 50%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.hotel-search-sorting-current {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;

  background: none;
}

.hotel-search-sorting:hover {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;

  background-image: linear-gradient(to right, #81b3d2 50%, transparent 50%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.hotel-search-sorting:active {
  font-size: 12px;
  line-height: 18px;
  color: black;

  background-image: linear-gradient(to right, black 50%, transparent 50%);
}

.sorting-direction-buttons {
  display: flex;
}

.sorting-direction {
  display: block;
  width: 11px;
  height: 10px;
  background: transparent center center no-repeat;
  border: none;
  font-size: 0;
}

.sorting-direction-ascending {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-direction-descending {
  background-image: url("../img/icon-down-dir.svg");
  margin-left: 10px;
}

.sorting-direction-current.sorting-direction-ascending {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-direction-current.sorting-direction-descending {
  background-image: url("../img/icon-down-dir-active.svg");
}

.sorting-direction-ascending:hover {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.sorting-direction-descending:hover {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.sorting-direction-ascending:active {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-direction-descending:active {
  background-image: url("../img/icon-down-dir-active.svg");
}

.hotel {
  display: flex;
  align-items: flex-start;
  padding: 25px 6% 24px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.hotel-picture {
  width: 135px;
  padding-top: 5px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  width: 370px;
}

.hotel-rating {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 140px;
  padding-top: 5px;
  margin-left: auto;
}

.hotel-rating-stars {
  height: 17px;
  background: url("../img/star.svg") repeat-x;
}

.rating-stars-5 {
  width: calc(24px * 5 - 6px);
}

.rating-stars-4 {
  width: calc(24px * 4 - 6px);
}

.rating-stars-3 {
  width: calc(24px * 3 - 6px);
}

.rating-stars-2 {
  width: calc(24px * 2 - 6px);
}

.rating-stars-1 {
  width: calc(24px * 1 - 6px);
}

.hotel-rating-result {
  display: block;
  padding: 3px 12px;
  background-color: #f2f2f2;
}

.hotel-name {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 565px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type-and-price {
  display: flex;
  margin-bottom: 13px;
}

.hotel-type-and-price p {
  margin: 0;
  padding: 0;
}

.hotel-type {
  display: block;
  width: 110px;
  height: 21px;
  margin-right: 6px;
}

.hotel-price {
  display: block;
  width: 140px;
  height: 21px;
}

.hotel-buttons {
  display: flex;
}

.button-reading-more {
  display: block;
  width: 110px;
  height: 27px;
  color: white;
  font-weight: bold;
  background-color: #81b3d2;
  text-align: center;
  line-height: 27px;
  margin-right: 6px;
}

.button-reading-more:hover,
.button-reading-more:focus {
  background-color: #669ec0;
}

.button-reading-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  display: block;
  width: 140px;
  height: 27px;
  color: white;
  font-weight: bold;
  background-color: #766357;
  text-align: center;
  line-height: 27px;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-rating-stars {
  display: block;
  text-align: top;
}

.hotel-rating-result {
  display: block;
  text-align: bottom;
}

.map {
  position: relative;
  height: 473px;
}

.map-static {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.map iframe {
  position: relative;
  z-index: 2;
  border: none;
  padding: 0;
  margin: 0;
}

.map-cropper {
  width: 100%;
  height: auto; /*473px;*/
  background-color: #f2f1ef;
}

.map-cropper img {
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  margin-top: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  width: 33%;
  display: flex;
  justify-content: center;
}

.footer-contacts {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 2px;
}

.footer-contacts a {
  color: black;
  text-decoration: none;
}

.footer-social {
  padding-left: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  list-style: none;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:hover path,
.social-button:focus path {
  fill: white;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  margin: 0;
  padding-left: 7px;
  padding-bottom: 1px;
}

.footer-copyright-inner {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.footer-copyright span {
  position: relative;
  display: block;
  margin-right: 4px;
}

.footer-copyright a {
  display: block;
  width: 120px;
  height: 37px;
  margin-right: 0;
}

.footer-copyright a::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  right: 5px;
  width: 108px;
  height: 37px;
  background: url("../img/logo-htmlacademy.svg") 0 0 no-repeat;
  transform: scale(1.05);
}

.footer-copyright a:hover::after {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.footer-copyright a:active::after {
  background-image: url("../img/logo-htmlacademy-active.svg");
}

